<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQVRB
	TkJna3Foa2lHOXcwQkFRc0ZBREFBTUI0WERUSTJNRE15TURFMU1qSXgKTlZvWERUTTJN
	RE14TnpFMU1qTXhOVm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUkwUHhSdlE5dFhvOVY4c1FYYTYyYUwzWEJwekNBQWtsdWZueXI1N0lm
	U1hIRnRzRHN0MUY0aWxzWFZrCm9aL3dNL0cxbTdNSUc3T0tFazc1SEcyL3J0aHVVbHVo
	akZrMFM4YVh5dHR4bDZ1L0tjY3grMmVjTFZpVlFQSVgKOUllV0FHS2NVY0VDVjdFdHp2
	QWh3MnI4M2tOZjlJTGpDdTNjVHkrSWhGaWxMVXIwQ21ORlpvQVZKci9FM0psZApRcTBY
	V29VN1d0VjFJRXFSQnRldzNLa2pPd3hzZnozOXVObWZqS01lUTBoNWl0MGlkR3NGcEdT
	b0k4UWhRWUpHCkRtQ3pNaW5jTkJjZDhWQmRKTFRnUytjQ0NPam1Ta3ZJekdqYkRoVlI4
	TVRxT3AzY1BnZE5FcmJMbXFic0dvQnkKWTVtV1paeHlzV20wNGpqVjhmTXFDbjlpcXFr
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFPQmdOVgpIUThCQWY4RUJBTUNC
	YUF3SFFZRFZSME9CQllFRlB2ZEZpMUoxN05UM1l6U0pPNExkRnlucnRqRU1BMEdDU3FH
	ClNJYjNEUUVCQ3dVQUE0SUJBUUJwcGZQc0VQM0JNRHpIQkUzZmprRWs3NlZuYlpkajZX
	ZWtQcXpGRmtwam5HYzAKdWhSZXE5NzNyd1g0cW53eDBxMDFlSUFjTVRyN0ZVUFlUMVEy
	amxUSGVRUTBYR0lCWVFUUzIvcStiQzZhbGZwUAo1MFZ4dVdJVTRKL2k5K1lWdThnMjBB
	WmpVcGVZSGRqb3VJMStmTzBXWFo3Ung0WnlkNytjeDVpZjVTU0RlcEtrCjQvNThEOGlZ
	RkVUNEpCR2ozR1FNZ0E2eXcvNkJHdWxVV2VDdHIwVmhZdDMwKy9hUlV4eVV5OFlpaHRE
	MlFGMloKTHM2VmRMUHU2UTFKUVc0UmdiZkFjd2FBT2p4WlgyM2hnckpCWkFreTlYRmNW
	MGcrSXlsMlRHYmhoRTBWK2FqQwpYbzB1QlFPUVhQRG8wYlUwMnFHSzZZZUR4NTc0a1lX
	N2hXMU9lNjZ3Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>EscrowBag</key>
	<data>
	czp+cF859t4xAqVgpKed4X7Tyn3/KAo6aDHE0cjXlnM=
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNtekNDQVlPZ0F3SUJBZ0lCQVRB
	TkJna3Foa2lHOXcwQkFRc0ZBREFBTUI0WERUSTJNRE15TURFMU1qSXgKTlZvWERUTTJN
	RE14TnpFMU1qTXhOVm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUs0WU1CUnd3dzZxZ0Z2eTJlcFZBWWdmalRwYlh4NURMOG56OEdNblc2
	ZERtTzVwZ2FySFlXbVg3Q3ZECmEyME5lRzEycE83YlFkL3RqYTZWRkNzUUNkYUFRcXVh
	T25ERW1ORnNab095YVhjME5BeGFva2E3UDR0VXpUWEcKL0FoanpEMW5iTEJoUjhNb0Rm
	RWtIK1ZZOGtsK3V1aW1UeEx2OUprK3FGSXF3VGJsVHV5YjYvK0VpQTBPcG91OApEREZq
	ZzFhb0FWWTlxb2xUUGJQVTBTNVZiUmloU0txSlRLYXljZDlYSHJiUi91dFNXOHI4WlJK
	cXgxTTJtVXdMCmlVN3RGaTNGcE81TENJdXJCb1JFWkJVbmhYMzZzMzNQTHZ6Um5IWUpl
	S3QyMDROZWFsQUdzbFhFSk5OODB5dEwKbHFHQ1NvTDRTM0VrbjFkOFJkbmROTlVBcXU4
	Q0F3RUFBYU1nTUI0d0RBWURWUjBUQVFIL0JBSXdBREFPQmdOVgpIUThCQWY4RUJBTUNC
	YUF3RFFZSktvWklodmNOQVFFTEJRQURnZ0VCQUU0bjF0QnhRVlFwZlpiaFYzWEJQbmY4
	CkE2K1ljY2paY05YTktkU3hoaFlqWGpZTG8zZndVSzNYVWNZTnU1L2xZU3VVM2M0bEI0
	RUJGcnhoemZ6TEhMNFIKa3JtN1lDVk9OQWxEa3I0OVo1S3V6dVNZSytVNTdhMUlNMnRl
	bGk4SjIwS2gxSURnVWUxbE0rWjdBdlVwWlQvcgozOFoyYm9iTUE1SnI2cm83Vm9zRy9Y
	SEpBc1ZDWGV3bGo4TjhEcjFkcEpXeW44TnQ3dDkxc2lqU01sOE5mTFdMCnQ1VmQ0QWdx
	NzR6ekNGSi9jNWZENXIvZ1paWHRML3grck10M3RTa2hMYnpiQzZPY0RnZ3lad1pveWQx
	K2l6b0IKemlOTjZwM04wdndMSE00UzZIalNEekNvNWlydmVBNHJWOWwyNUNBOVM1bnlV
	bzRlK2FYNWora3h4RHhENVA4PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
	</data>
	<key>HostID</key>
	<string>45540AD1-C9CC-3FAA-BF46-83BE70E93A75</string>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRQ3VHREFVY01NT3FvQmIKOHRucVZRR0lI
	NDA2VzE4ZVF5L0o4L0JqSjF1blE1anVhWUdxeDJGcGwrd3J3MnR0RFhodGRxVHUyMEhm
	N1kydQpsUlFyRUFuV2dFS3JtanB3eEpqUmJHYURzbWwzTkRRTVdxSkd1eitMVk0wMXh2
	d0lZOHc5WjJ5d1lVZkRLQTN4CkpCL2xXUEpKZnJyb3BrOFM3L1NaUHFoU0tzRTI1VTdz
	bSt2L2hJZ05EcWFMdkF3eFk0TldxQUZXUGFxSlV6MnoKMU5FdVZXMFlvVWlxaVV5bXNu
	SGZWeDYyMGY3clVsdksvR1VTYXNkVE5wbE1DNGxPN1JZdHhhVHVTd2lMcXdhRQpSR1FW
	SjRWOStyTjl6eTc4MFp4MkNYaXJkdE9EWG1wUUJySlZ4Q1RUZk5NclM1YWhna3FDK0V0
	eEpKOVhmRVhaCjNUVFZBS3J2QWdNQkFBRUNnZ0VBRXRGeWdRTWZVbnFEbld6R3VWbXU3
	TFBjWkM1MFBhVXRpVHJoQlJiQUJYaDkKRTJnOEorV2RWZmlpQXFrQTk2eTVFN3Y3WUFZ
	N1BLVkU1MVlkOC9tcjFvL09wUlhxc3ozTTl2WXNycGVlWnRBeAp3QlFiN21GWElReHRr
	aDZNSjZ3QjY3RStRbUtCaTByTkZ2KzhvdUhXYnJOUUtNMnhSbTdCbGI3OEdzV2NWUDZP
	ClVySURvMWZLVHQrOTJhWUNDMlBtWGgxRWV0cmlLRmVQeElsRzNla3c3L1J4aUpwWVJX
	SWwyakp5cHdHdFhjQ1YKMGQyLzFQemJmVHNIRTBseVdsU1lLWTdPM2lxTEsxUmQ3Misy
	TTdQMzdkSDg5ZUw0Y0FtWFA0L0lpQkhnamJoQwpncldGUFdBVWc1Zis5NG5ZN2NqVmRm
	NTAzZnBJTkdHVlg0NGk5T1liUVFLQmdRRHlTZXFaSEJJNkRNb1laZktGCkNIUElGV2R1
	bmxnckg0dFNYbzBRaDhTSGFsMGRCcjI4aGpQSXlScGFhU2JhWXE5L0U5Z1I0bzRIb1lI
	L2xSRWQKYmkwcVhFQS9hVVNrS2xaWlF4dytHTXpjdjdGZGZGeEZVOVlwUmt1QXMyY0RQ
	N1UzV3luMkRKMUx5d29QTG9ibgpGWElxcFFkT2xpc3o0dlVlblhkYkxVaUtxUUtCZ1FD
	MzhsUUJCZ1BPMkNjdmFwbENUWlVJemxqb2s4Z2VBNFZyCit1WHB1NFlZOUhmZHNHQWhS
	QnlKdFBHUnpYQ1dCdWRBRS9XUzFjZzBqNEFlQ2ppRTVMRE1Pb0NjYWZGaVNlNGsKOHk4
	c0UvdHB6SWNhZElPWXYxQjR5RWRKNzAwNXFCZzB1blpsS1UyRTZvSCsxaVRMbW5SVFhw
	aEdSWW9KV25HeQpRTUNKbTlQZjF3S0JnRWVxZDNyc1k3UEovcWt5MW9abEZxSXpPcEhz
	d2xXWEVnVytNK21Venh2aTZVSGhzWk9tCitvQkVnOGdFWEZxeVlBaXRuUGJGVlkrS1JV
	S05IQy9oVy9pd3FzeFczZGZWTWc5YkcycCt1WEgrUFg5U2ZwUi8KRk5UR2x5U3RiQ1g0
	M1NoUGpkemFwRmc3NlhET0tWY0c3K3NQUDFjT2NoNzUzZGs5YUlXT29tdHBBb0dCQUt4
	SwovV1hzQlZzVDJUZ3ZoNWV6NVZsWE5hMjY1aUUrdVJUWDc4dkt5cUxMTVE3anFsYmVY
	a0NaeS83K1Iyc3UwaUdSCjBGNFZnYTNCajRZVG1yYlhJY1paTWFmUUQ3azVlQ2NCNVBo
	TFN4emc1dGJmdFhjNEV4N2VzTzlPaHEzdmhhUzEKMWptUXd6d3hEMHZydHBGQ2ZaeXRL
	TUlCVm5iR1VXSmVCam1lVElrSEFvR0JBTm0zNFJsM3RqdEVZUlhmb21rdwpFK1pnZFg3
	eklEOG9GbmM5ZjcrVXhPTjd6eWptRmZqdGpiLzRuYjdKeU1peFFUeGpJUTZQQTdoS295
	ZzZGSnUyCnRIa3RXU3ZPRmMyYTJwZWM4T2tSeGI2ektDL0t1eGpLUXZBQ1YrdXlQTFR5
	aDJ5ZFVaS256TUNQeEpiT0ljUXcKMDAyM3Qwb24xNU1NUWhJTTJCcHFySnM0Ci0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNqakNDQVhhZ0F3SUJBZ0lCQVRB
	TkJna3Foa2lHOXcwQkFRc0ZBREFBTUI0WERUSTJNRE15TURFMU1qSXgKTlZvWERUTTJN
	RE14TnpFMU1qTXhOVm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUtZMHE4TE9Gb1ByOENFRlhXcU9MdXFzRnpiMjlKeFcyY05BSG9yU3Ra
	Z0g2d1QwT2doUzFvcTJjOWtaCkloYkZEa3JwNUpSb1RmMmZseHhnRTRnekZzRjJWa2Vw
	a2lweGtZeXdLZ015WjRMaGhSbTlCK3ZjUlMyTE9Tc2QKb3FYclVUaVpOdUpFd0dPd0NM
	aUhwcmk1VDA4VWIzUXMvMHA4SktWd2c1UzRsRFFoZ0QzdGVXL2dsa3pPY21oTwpibDFX
	ZDlOS3MwZnJFd1krUEhrM0pOVStWeHRHczNPenB2N3hWd1hJYVZSbUdCc3docDI0azk0
	aGNWOW8vc2F4CnRyb1JTZWtrMExsUmdYMkFoblBvcEVWU3R5WU9CbmpGb09wVU9LZmtT
	VldtZ0tLZFA1QlpLNENINEtrK3N6NEUKQjQ5eW4ySFZIRnBLbGd1Z2U5dGRJQ1FSaENN
	Q0F3RUFBYU1UTUJFd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBTgpCZ2txaGtpRzl3MEJB
	UXNGQUFPQ0FRRUFEcVNMbDd2UkJyY2FFamgrUjF6bzcvUHp3bVVUSGxFT2JTZDRUcWRz
	CjlSMHc0emNjZ09sczg0R0E2T1VTRHlnalh0SWxaSHdkczZwUEFuYmhDMGFSRGVnd09C
	SFkxeHRkZ2pQMjE0TU8KTjJiZGVLcytCS1cxUXpPbzBZN0hxYVFYOWRUV1RmTS83bWtT
	b1FYWUV5Z1hJZnJUSDBLOTROazQ3RkFTYkcrUApaajRqdnJKd1FqZGRtem1HZzBmeStU
	ei91d2R5cTlUcG5NS0g4NEtqZ1M4RTZHWG1vNnlPd0NPVXZseVI0YXk0CmQyRm8rWW9l
	NlJlZUdXY3pMUnA3b3hSQitIVzU0Ym0yRXNKRU5jL0dLWnR1WDdnSkNNdTBhc1M0czVQ
	T1VkaDkKd2ZkSU5nTHMrZlZlc20rT0FZSGpwQmJjTnhUdTdLdnNRYzZ2OEZTcGdrOSs3
	dz09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRQ21OS3ZDemhhRDYvQWgKQlYxcWppN3Fy
	QmMyOXZTY1Z0bkRRQjZLMHJXWUIrc0U5RG9JVXRhS3RuUFpHU0lXeFE1SzZlU1VhRTM5
	bjVjYwpZQk9JTXhiQmRsWkhxWklxY1pHTXNDb0RNbWVDNFlVWnZRZnIzRVV0aXprckhh
	S2w2MUU0bVRiaVJNQmpzQWk0Cmg2YTR1VTlQRkc5MExQOUtmQ1NsY0lPVXVKUTBJWUE5
	N1hsdjRKWk16bkpvVG01ZFZuZlRTck5INnhNR1BqeDUKTnlUVlBsY2JSck56czZiKzhW
	Y0Z5R2xVWmhnYk1JYWR1SlBlSVhGZmFQN0dzYmE2RVVucEpOQzVVWUY5Z0laego2S1JG
	VXJjbURnWjR4YURxVkRpbjVFbFZwb0NpblQrUVdTdUFoK0NwUHJNK0JBZVBjcDloMVJ4
	YVNwWUxvSHZiClhTQWtFWVFqQWdNQkFBRUNnZ0VBR1JPMUNnRkQ4V2RJV3dYRVhmN25s
	NTNHZjVNTVBqTWhJUmkydUZXK3lNVUMKWjBRZGUyMndQc3YwNG1xQjNsMzJDdTgyVkts
	V0xIQmNyRG5YYzBNdUZFWXhaMnp2aDZXTXJlV29qbTlDVEpqbApRYk1TazdvdmhUQjVQ
	REdqcUVBVWlFM0pzNk1SbWhqbDFVaHJxeVJwUEhKd3R6UFEyRXdFZXMwUDlWWlNKTTZJ
	CmYwUGNXSm4rMzN4NDhGWVdsenl5V3JZL2dnZnUzbkpRVDl3K2thc3lNYnFXYnZON2Ur
	bHgyTy9uelRXWU91ZEwKWkNNcWNUdnVJQkpFeC9lOU00YWJZMjJZR2dzbVFkazVlTzBO
	c0RsSHJpWTdOY2UwaVRLVy9aQVMrQmhIREUxVgpxMUI1cHJQZ2ZSRUZrUVMyZURLOXk5
	cEJ2aW9UNTMwQ1E1NWxxcWJEQlFLQmdRRG9mMEs1N0d5b2d6UERkdHN0ClNGSldwQzZT
	RWR1aHFKVWhBNlI4bjNScytRMXJZRC9vUGtRWHUwd1YvKzdTWDlBVytmQnMyTFpjZ092
	U0VvTW8KYWR2bXYrS2FvOTdIcDdNalNpRUs3RUxCbk5ZMnVlM1hjQ1lidUozd2VZUy80
	dXh0UDBTdW5VNnRySDFpeEpiUwpTL2NpSnlKTzZKbkxJK3FWR0tSalBueVlCd0tCZ1FD
	M0FkOEt4V0ZjeHNLb284Ti9GRC9Qcm94bkVqZkJZNkxtCmFEaVcxeW9NM3VtTTc5TjB3
	ai9OR0dWVE9reHdrZzV1bDgrUElDVFdsbVRJS1BnUktBMzF0bGI3aHRlVVZaQXoKdStk
	aVUxSHJaTG1GamU1Z1J4VjVhWlY2Umt0TEZVZThsMjkyN0pDRDZrZERhcFNScisyY1FX
	WHM1dVNReVNWWgpiQXhGamE0VUJRS0JnQzhLY0tuRm1FYVFKVTBMSTFXS0tINjNRV1Qw
	a0FlcFlHTUpwYUpCY1FFTGN4ZWlwY3VMCnJhTlBsaGx0YXhqTm9nREVHVTBzbTlrampK
	TTRnNmtOb2h5Ui9udGpaSlBvN21uWmVjNEg5NG5NL2RxY3krNm4KRms3Tmo4YzBEeFAw
	Q2ZvZ3J2alZnekhJa0tZSE9LemNDZWl6R2xIMDVna2YvenFqZmI5R3lWYkpBb0dCQUpo
	bgp0SW5SeXIxcXdWMlQxQkVXbWZXbzFVQlpDWm5DRWoxemVmMFVmdTV0RFc3VG92UFBl
	VGFpSkcvbFV4ZEVhMFJxCnBPMzZ4UEw0R0VJZzdFWE5aNkxERVRrekdJRnRxRU9OTHFy
	UjNKeitLd293SXQ2SEZEa2lWdHVYZ3NpcWxpMVcKcC9zUUUySG9UeVN6czdxSUdvZFFa
	ME9kSGFmOSsxNjIvcGxGM2p6SkFvR0JBSTVOTGEvcmZHVjFKK2t1OTh2SwozS09rcUlK
	M0lrdnR0NHNHM1VEWWxhVm9raS9hWmwvaWh2Q0pPaGd1aTVnZWhWYjA2Rnhhc09aTkQz
	SUF3TTI5CkhUR3BOWTcwNUxoaVU2N1NVNVNBQzBOdHgyT3V0d3E5R0NYcld2L3hvQmow
	SnVCcFVDR3ZHaXJLS0R6QlgydGUKQ2UyTzQzMmNQeUM5c3hCME9oMDlJakp3Ci0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>SystemBUID</key>
	<string>DB65F9CD-AD1A-4CA5-8ADD-78DC962101E4</string>
	<key>WiFiMACAddress</key>
	<string>a0:3b:e3:78:a0:9a</string>
</dict>
</plist>
